<!--Include stylesheet-->
<link rel="stylesheet" type="text/css" href="~/css/site.css">

<!--Navbar button-->
<span style="font-size:30px;cursor:pointer;padding-left:5px;" onclick="openNav()">&#9776;</span>

<!--Navbar content-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: red;">&times;</a>
    <a asp-controller="account" asp-action="account">Account</a>
    <a asp-controller="map" asp-action="map">Map</a>
</div>

<!--Navbar script-->
<script src="~/js/navbar.js"></script>

<!--Render views-->
<div class="container body-content">
    @RenderBody()
</div>