
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RunescapeWiki</title>
</head>

<body>

    <ul>
        <h1 class="Menu">
            <li><a class="active" asp-controller="account" asp-action="account">Account</a></li>
            <li><a @Html.ActionLink("Stats", "Stats", "Stats")</a></li>
            <li><a @Html.ActionLink("Monster", "Monster", "Monster")</a></li>
            <li><a @Html.ActionLink("List", "List", "List")</a></li>
        </h1>
    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
        <h1>Account</h1>

    </div>
</body>
</html>

