body {
    background-color: #2878e4;
}

.content {
    padding-top: 15%;
    padding-left: 32%;
}

.form-panel {
    background-color: #efefef;
    max-width: 450px;
    padding-left: 50px;
    border-radius: 25px;
    padding-top: 28px;
    padding-bottom: 25px;
}

.username-textbox {
    font-size: 20px;
    background-color: transparent;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 3px 10px;
    width: 400px;
}

.password-textbox {
    font-size: 20px;
    background-color: transparent;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 3px 10px;
    padding-top: 25px;
    width: 400px;
}

.submit-button {
    text-align: center;
    width: 400px;
    border-radius: 25px;
    background-color: #2878e4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: #2878e4;
    color: white;
}

.submit-button-div {
    padding-top: 30px;
}

.username-textbox-div {
}

.password-text-div {
}
